<%- include('../includes/head.ejs'); %>
    <title>View Users</title>
</head>
<body>
    <%- include('../includes/navbar.ejs'); %>


        <% for(let user of data){ %>
            <div class="col-md-6 mx-auto card card-body mt-4">
                <h4><%=user.name %></h4>
                <h6><%=user.email %></h6>
                <h6><%=user.phone %></h6>
                <p><%=user.id %></p>
                <a class="btn btn-dark btn-block mb-2" href="/admin/edit/<%=user._id %>" method="POST">Edit</a>
                <form method="post" action="/admin/delete/<%=user._id %>?_method=DELETE">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" class="btn btn-danger btn-block" value="Delete">
                </form>
              </div>
        <% } %>
<%- include('../includes/end.ejs'); %>
